<h1 mat-dialog-title>Editovanje Oglasa</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Naziv oglasa</mat-label>
        <input matInput placeholder="Unesite naziv oglasa" [(ngModel)]="naziv">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Izaberite kategoriju</mat-label>
        <mat-select [(ngModel)]="kategorija">
            @for (kategorija of nizKategorija; track kategorija) {
            <mat-option disabled [value]="kategorija.naziv">{{kategorija.naziv}}</mat-option>
            @for (podKategorija of kategorija.podkategorije; track podKategorija) {
            <mat-option [value]="podKategorija._id">{{podKategorija.naziv}}</mat-option>
            }
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Opis oglasa</mat-label>
        <textarea matInput placeholder="Unesite opis oglasa" [(ngModel)]="opis"></textarea>
    </mat-form-field>
</div>

<div class="add-image-button">
    <button mat-raised-button class="dugmeZaSliku" (click)="fileInput.click()">
        <mat-icon>add</mat-icon> Dodajte slike
    </button>
    <input type="file" #fileInput multiple (change)="onFilesSelected($event)" style="display: none;">
</div>

<div class="image-preview" *ngIf="nizSlika.length > 0">
    <img *ngFor="let slika of nizSlika" [src]="slika" alt="Selected image" class="preview-image">
</div>

<div class="image-preview" *ngIf="selectedFiles.length > 0">
    <img *ngFor="let file of selectedFiles" [src]="file.url" alt="Selected image" class="preview-image">
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" mat-dialog-close>Otkažite</button>
    <button mat-raised-button class="dugme" (click)="editujOglas()">Editujte oglas</button>
</div>